* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



    
    


body {
    font-family: Arial, sans-serif;
    background: #82915a;
    color: white;
    min-height: 30vh;
}

.layout {
    width: 100%;
    max-width: 1200px;
   
    margin: 0 auto;

    padding: 33px 27px 68px;

    display: grid;
    grid-template-columns: 226px 1fr;
    gap: 52px;
}

/* =========================
   SIDEBAR
========================= */

.sidebar {
    background: #34353e;
    border-radius: 5px;
    height: 380px;
    min-height: 50px;
    padding: 10px 10px 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 11px;
}

.avatar {
    width: 50px;
    height: 50px;
    flex-shrink: 0;

    background: #fffceb;
    border-radius: 50%;
}

.profile h1 {
    font-size: 29px;
    font-weight: 400;
}

.edit-button {
    width: 78px;
    height: 24px;

    margin-top: 17px;

    border: 0;
    border-radius: 6px;

    background: #f4f1e2;
    color: #34353e;

    font-size: 14px;
    cursor: pointer;
}

.description {
    margin-top: 10px;

    color: #c7c7c7;
    font-size: 14px;
    line-height: 21px;
}

.navv {
    margin-top: 11px;

    display: flex;
    flex-direction: column;
    gap: 0;
}

.navv a {
    color: white;
    text-decoration: none;

    font-size: 14px;

    padding: 8px 0;
}

.content {
    min-width: 0;
}

.content-header {
    height: 44px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content-header h2 {
    font-size: 24px;
    font-weight: 400;
}

.new-course {
    border: 0;
    border-radius: 6px;

    background: #f4f1e2;
    color: #34353e;

    padding: 5px 14px;

    font-size: 14px;

    cursor: pointer;
}

.courses-area {
    width: 100%;
    height: 510px;

    background: #34353e;
    border-radius: 5px;
}


/* =========================
   TABLET
========================= */

@media (max-width: 800px) {

    .layout {
        grid-template-columns: 190px 1fr;
        gap: 25px;

        padding-left: 20px;
        padding-right: 20px;
    }

}


/* =========================
   CELULAR
========================= */

@media (max-width: 600px) {

    .layout {
        display: flex;
        flex-direction: column;

        padding: 20px 15px 40px;
        gap: 25px;
    }

    .sidebar {
        width: 100%;
        min-height: auto;
    }

    .content {
        width: 100%;
    }

    .content-header {
        height: auto;
        margin-bottom: 12px;

        align-items: center;
    }

    .content-header h2 {
        font-size: 22px;
    }

    .courses-area {
        height: auto;
        min-height: 300px;
    }
}


/* =========================
   CELULAR PEQUENO
========================= */

@media (max-width: 400px) {

    .profile h1 {
        font-size: 25px;
    }

    .description {
        font-size: 13px;
        line-height: 19px;
    }

    .courses-area {
        min-height: 250px;
    }
}